extends layout

block content
  .row
    .col-sm-6
      .panel.panel-default
        .panel-heading
          .panel-title
            .h5 Announcements
        #announcements.list-group
          a.list-group-item.active Welcome to Control Online.

    .col-sm-6
      .panel.panel-default
        .panel-heading
          .panel-title
            .h5 Games
        #games.list-group

      #new-game.input-group
        input(type='text', placeholder='Name')#game.form-control
        .input-group-btn
          button(type='button')#create.btn.btn-default Create

  script(src='/javascripts/index.js')
