#canvas {
  border: 1px solid black;
  display: block;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.title {
    color: black;
    text-decoration: none;
}

.title:hover { text-decoration: none; }
